<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>Go Sample Routes Calculator</h1>

<a href="/routes?src=13.388860,52.517037&dst=13.397634,52.529407&dst=13.428555,52.523219">Route 1</a> |
{{template "footer"}}
</body>
</html>